body{font-family: sans-serif;}

.title {color: #7BCDD0; text-align: center;} /*color code, hex found online*/

header{background-color: #72ADAF}

/*#logo{text-align: center;}*/

/*#links{text-align: right;} /*ID*/

.thumbnail{
  width:300px;
  height:300px:
}

header {
  display: grid;
  grid: "logo links" auto / 1300px auto; /*img = first element, 2nd element = meta*/
  margin-bottom: 20px;
}

/* Use this class on a div that contains the img element */
.header-logo {
  grid-area: logo;
  justify-self: center;
  width:300px;
  height:120px:
}

/* Use this class on a div that contains the description, link, etc. */
.header-links {
  grid-area: links;
  align-self: right;
}


article {
  display: grid;
  grid: "img meta" auto / 400px auto; /*img = first element, 2nd element = meta*/
  margin-bottom: 20px;
}

/* Use this class on a div that contains the img element */
.article-img {
  grid-area: img;
  justify-self: center;
}

/* Use this class on a div that contains the description, link, etc. */
.article-meta {
  grid-area: meta;
  align-self: start;
}
